#content{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
#contentWrapper{
	top: 44px;
}
.flex{
	flex: 1;
}
.reading{
	background-color:#999999;
	color: #4CD964;
}
#offCanvasSide{
	display: flex;
	flex-direction: column;
}
#mulu{
	position: relative;
}
#offCanvasSide .detail{
	display: flex;
	flex-direction: column;
	background-color: #fff;
}
#offCanvasSide .detail .info{
	display: flex;
}
#offCanvasSide .detail .info >p:first-child{
    display: none;
}
#offCanvasSide .detail .cover{
	height: 100px;
	width: 80px;
}
#offCanvasSide .detail p{
	margin-top: 0;
	margin-bottom: 0;
}