<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>首页</title>
		<link href="css/mui.min.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="css/weui.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="js/mui.min.js"></script>
		<script src="js/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/fastclick.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/weui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="main" v-cloak>
			<header class="mui-bar mui-bar-nav">
				<h1 class="mui-title">{{type=='all'?'小说列表':'阅读进度'}}</h1>
				<a class="mui-icon mui-icon-arrowthinup mui-pull-right" @tap="toTop"></a>
			</header>
			<div class="mui-scroll-wrapper" id="scrollWrapper">
				<div class="mui-scroll">
					<!--这里放置真实显示的DOM内容-->
					
					<ul class="mui-table-view" v-show="type=='all'">
						<li v-for="item in list" class="mui-table-view-cell mui-collapse">
							<a class="mui-navigate-right" href="#">{{item.type}}</a>
							<div v-for="obj in item.list" class="mui-collapse-content" @tap="look(obj)">
								<p>{{obj.name}}</p>
							</div>
						</li>
					</ul>
					<ul class="mui-table-view" v-show="type!='all'" id="readHistories">
						<li v-for="item in readHistories" class="mui-table-view-cell mui-media">
							<div class="mui-slider-right mui-disabled">
								<a class="mui-btn mui-btn-red" @tap="deleteReadHistory(item)">删除</a>
							</div>
							<div class="mui-slider-handle">
								<div class="mui-media-body" @tap="look(item)">
									{{item.name}}
									<p class="mui-ellipsis">{{item.title}}</p>
								</div>
							</div>
							
						</li>
					</ul>
					<div class="mui-slider">
					  <div class="mui-slider-group">
						<!--第一个内容区容器-->
						<div class="mui-slider-item">
						  <!-- 具体内容 -->
						</div>
						<!--第二个内容区-->
						<div class="mui-slider-item">
						  <!-- 具体内容 -->
						</div>
					  </div>
					</div>
					<div style="width: 100%;height: 44px;"></div>
					
				</div>
			</div>
			<nav class="mui-bar mui-bar-tab">
				<a class="mui-tab-item" :class="{'mui-active':type=='all'}" @tap="toAll">
					<span class="mui-icon mui-icon-home"></span>
					<span class="mui-tab-label">小说列表</span>
				</a>
				<a class="mui-tab-item" :class="{'mui-active':type!='all'}" @tap="toHistory">
					<span class="mui-icon mui-icon-phone"></span>
					<span class="mui-tab-label">阅读进度</span>
				</a>
			</nav>
			
		</div>
	</body>
</html>